<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formRecuperar"> 
      <ion-item>
        <ion-img class="img" src="assets/soloViacpro.png"></ion-img>
      </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="recuperar()" type="submit" color="secondary" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Ingrese la dirección de correo electrónico registrada.
    </small>
  </form>
  <div *ngIf="isExiste=='error'">
       <span style="color: red;">Datos incorrectos</span>
  </div>
</ion-content>


<ion-footer class="fondo-footer">
  VIACPRO
</ion-footer>