<app-header no-border>
</app-header>

<ion-content paddding>
  <ion-card>
    <ion-card-header style="background-color: #1d1a31 !important; color: #ffcf40; text-align: center; font-size: 18px;">
       <div>Detalle Plan</div>
    </ion-card-header>
  
      <ion-list *ngFor="let i of planSelec">
        <ion-item>
          <ion-icon slot="start"  name="earth-sharp"></ion-icon>
          <ion-label style="font-size: 14px;"> CIUDAD : {{ i.opcion | uppercase}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="person-sharp"></ion-icon>
          <ion-label style="font-size: 14px;">ESTADO : {{ i.estado | uppercase}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list *ngFor="let detalle of detallePlan">
         <ion-item>
              <ion-icon slot="start" name="document-text-sharp"></ion-icon>
              <ion-label style="font-size: 14px;">{{ detalle.nombrePlan | uppercase}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="documents-sharp"></ion-icon>
            <ion-label style="font-size: 14px;">{{ detalle.descripcion | uppercase}}</ion-label>
          </ion-item>
      </ion-list>
    </ion-card>
    <hr>

    <ion-list-header lines="full" style="background-color: #1d1a31; color: #ffcf40;">
      <ion-label>Lista de  Radicados</ion-label>
      <ion-button>{{ cantProcecos }} Procesos</ion-button>
    </ion-list-header>

    <ion-list>
      <ion-item-sliding padding style="background-color: #1d1a31;" *ngFor="let item of listaProcesos; let i = index">
        <ion-item>
          <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
          <ion-label>{{i + 1}}. {{ item.idRadicado}}</ion-label>
        </ion-item>
    
        <ion-item-options side="start">
          <ion-item-option (click)="verActuaciones(item.idProceso)" style="background-color: #ffcf40; color: #1d1a31;">
               Actuaciones
          </ion-item-option>
        </ion-item-options>  

        <ion-item-options side="end">
          <ion-item-option (click)="infoProceso(item)" style="background-color: #1d1a31; color: #ffcf40;">
             Ver
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>

<ion-footer> 
  <ion-segment style="background-color:#1d1a31; color:#ffcf40;">
          <ion-segment-button style="color:#ffcf40" (click)="regresar()" value="segment1">
            <ion-icon name="arrow-back-sharp"></ion-icon>
                          Regresar
          </ion-segment-button>
          <ion-segment-button style="color:#ffcf40" (click)="irMenu()" value="segment1">
           <ion-icon name="home"></ion-icon>
                         Inicio
          </ion-segment-button>
         
 </ion-segment>
</ion-footer>