<app-header no-border></app-header>

<ion-content paddding>
  <ion-card>
    <ion-card-header style="background-color: #1d1a31 !important; color: #ffcf40; text-align: center; font-size: 18px;">
       <div>Atención al Cliente</div>
    </ion-card-header>
  
      <ion-list *ngFor="let i of datosPerfil">
        <ion-img src="assets/menu/atenciocliente.png" style="width: 20%; margin: auto;"></ion-img><hr>
        <p style="text-align: justify; padding: 15px;">
          Señor (a) {{ i.nombre}} {{ i.apellido}} dejanos tu mensaje y nos contactaremos lo mas pronto posible, .</p>
          <form [formGroup] ="formAtencion">
              <ion-item>
                <ion-textarea style="background-color:rgb(247, 246, 214); border-color: rgb(7, 7, 44) !important;" formControlName="descripcion" placeholder="Escribe tu mensaje">
                </ion-textarea><br>
              </ion-item>
                
                <ion-button style="background-color: #1d1a31 !important;" (click)="enviar()" [disabled]="!formAtencion.valid" type="submit" color="secondary" expand="full">
                  Enviar</ion-button>      
           </form>
      
        </ion-list>
    </ion-card>
     
</ion-content>

<ion-footer>
  <ion-segment style="background-color:#1d1a31; color:#ffcf40">
          <ion-segment-button style="color:#ffcf40" (click)="irMenu()" value="segment1">
           <ion-icon name="home"></ion-icon>
                         Inicio
          </ion-segment-button>
 </ion-segment>

</ion-footer>

